@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
.react-datepicker__header {
  background-color: white;
  border-bottom: none;
}

.react-datepicker__day-name {
  margin: 18px;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-weight: 600;
}

.react-datepicker {
  border: none;
}

.react-datepicker__month-container {
  padding-top: 25px;
}

.react-datepicker__month {
  /* width: 400px; */
  font-size: 16px;
  font-family: "Pretendard-Regular";
  font-weight: 400;
  padding-left: 30px;
  padding-right: 0;
  padding-top: 10px;
}

.react-datepicker__day {
  /* padding-left: 18px; */
  margin: 18px;
  font-family: "Pretendard-Regular";
}
.react-datepicker__day:hover {
  background-color: white;
}
.react-datepicker__day--selected {
  width: 42px;
  height: 32px;
  border-radius: 100%;
  margin: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fc389a;
}

.react-datepicker__day--selected:hover {
  width: 42px;
  height: 32px;
  border-radius: 100%;
  margin: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fc389a;
}

.Calendarr_select_date__eoyVO {
  margin: 0px;
}

.react-datepicker__day--outside-month {
  cursor: default;
  visibility: hidden;
}

.react-datepicker__day--keyboard-selected {
  background-color: white;
}

.react-datepicker__time-list {
  width: 160px;
  height: 180px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: rgba(255, 139, 197, 0.2);
  color: black;
  height: 24px;
  padding: 0px;
  padding-top: 10px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background-color: rgba(255, 139, 197, 0.2);
  color: black;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 160px;
  height: 250px;
  overflow: hidden;
  position: fixed;
  left: 45px;
}

#Calendarr_date__GhPew {
  border-bottom: 2px solid black;
  width: 300px;
}

.Calendarr_timeinput__ib3pf {
  border-bottom: 2px solid black;
  width: 300px;
  color: black;
}

.Calendarr_timeinput__ib3pf:focus {
  outline: none;
}

.react-datepicker__tab-loop {
  border: none;
}

.react-datepicker__day:hover {
  width: 42px;
  height: 32px;
  border-radius: 100%;
  margin: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fc389a;
}

.react-datepicker__day--highlighted {
  width: 42px;
  height: 32px;
  border-radius: 100%;
  margin: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fc389a;
}

.react-datepicker {
  background-color: transparent;
}

.MentoCalendar_select_date__N1Eq2 {
  margin-top: 80px;
}

.MentoCalendar_reservation__az2SB .MentoCalendar_image__Dcr-X {
  margin-top: 60px !important;
}
