.calendar {
  .react-datepicker__month-container {
    background-color: blue;
  }

  .content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    /* align-items: center; */
  }

  .select_date {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    border-radius: 30px;
    margin-right: 100px;
    text-align: center;
  }

  .calendar_header {
    width: 150px;
    height: 45px;
    border-radius: 15px;
    background-color: #fc389a;
    color: white;
  }

  .month_day {
    padding-left: 20px;
    margin-right: 20px;
    font-size: 20px;
  }

  .btn_month img {
    width: 13px;
    height: 13px;
  }

  .reservation {
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 30px;
    margin-right: 100px;
    text-align: center;
  }

  .select {
    margin-top: 100px;
  }

  .selected_date,
  .selected_time {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
  }
  .selected_date p,
  .selected_time p {
    text-align: left;
    padding-left: 7px;
  }

  #date {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    border-bottom: 2px solid black;
  }

  .timeinput {
    border: none;
    width: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    border-bottom: 2px solid black;
  }

  .react-datepicker__day--outside-month {
    cursor: default;
    visibility: hidden;
  }
}
