.swiper-pagination-bullet {
  background: transparent !important;
  border: 2px solid black !important;
  margin-right: 15px;
}

.swiper-pagination-bullet-active {
  background: black !important;
  border: 2px solid black !important;
}
