.signup {
  padding: auto;
  text-align: center;
}

.complete_header {
  border-radius: 30px;
  text-align: center;
  position: relative;
  padding-bottom: 94px;
}

.icon img {
  padding-top: 37px;
  padding-bottom: 32px;
}

h3 {
  margin-top: 0;
  margin-bottom: 13px;
}

p {
  margin-bottom: 32px;
}

.content {
  margin: auto;
}

.content img {
  margin: auto;
}

.signup_header {
  padding-top: 171px;
  padding-bottom: 10px;
  padding-left: 7%;
  padding-right: 7%;
}

.rect {
  padding: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn button {
  width: 200px;
  height: 58px;
  margin-bottom: 36px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: rgb(235, 85, 153);
  border: 2px solid rgb(235, 85, 153);
}
