.signup {
  padding-left: 16.3%;
  padding-right: 24.7vh;
}

.signup_rect {
  border-radius: 30px;
  border: 2px solid black;
  text-align: center;
}

.signup_header {
  padding-top: 127px;
  padding-left: 7%;
  padding-right: 7%;
}

.content {
  margin-top: 130px;
  margin-bottom: 30px;
  margin-left: 40%;
  margin-right: 40%;
}

.btn button {
  width: 200px;
  height: 58px;
  margin-top: 80px;
  margin-bottom: 120px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(235, 85, 153);
}
