.signup {
  padding-left: 16.3%;
  padding-right: 24.7vh;
}

.signup_rect {
  border-radius: 30px;
  border: 2px solid black;
  text-align: center;
}

.signup_header {
  padding-top: 127px;
  padding-left: 7%;
  padding-right: 7%;
}

.input {
  padding-left: 32%;
  padding-right: 32%;
  padding-top: 107px;
  padding-bottom: 165px;
}

.signup_input {
  padding-top: 130px;
}

.signup_input input {
  width: 485px;
  height: 51px;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 15px;
}

.signup_input p {
  padding-left: 44vh;
  text-align: left;
}

.btn button {
  width: 200px;
  height: 58px;
  margin-top: 80px;
  margin-bottom: 120px;
  border-radius: 10px;
  border: none;
  background-color: rgb(217, 217, 217);
}
