.signup {
  margin: auto;
}

.signup .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.signup_rect {
  border-radius: 30px;
  text-align: center;
  border-radius: 30px;
  position: relative;
}

.rect {
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.signup .input {
  margin: auto;
  /* padding-top: 107px; */
  /* padding-bottom: 165px; */
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup_input input,
.radio {
  width: 502px;
  height: 52px;
  border: 1px solid #ff8bc5;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 39px;
}

.gender {
  padding-top: 6px;
}
.gender input[type="radio"] {
  display: none;
}
.gender input[type="radio"] + label {
  width: 240px;
  height: 30px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #898989;
  padding-top: 10px;
}

.gender input[type="radio"]:checked + label {
  background-color: #ff8bc5;
  color: white;
}

.gender label {
}

.btn button {
  width: 326px;
  height: 60px;
  margin-top: 25px;
  border-radius: 15px;
  border: none;
  background-color: #fc389a;
  color: white;
}

input,
label {
  color: #898989;
}

.signup_input p {
  margin-top: 0;
  margin-bottom: 0;
}
