.signup {
  padding-left: 16.3%;
  padding-right: 24.7vh;
}

.signup .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.signup_rect {
  border-radius: 30px;
  text-align: center;
  border-radius: 30px;
  position: relative;
}

.signup_header {
  padding-top: 127px;
  padding-left: 7%;
  padding-right: 7%;
}
.rect {
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.input {
  padding-left: 32%;
  padding-right: 32%;
  padding-top: 107px;
  padding-bottom: 165px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup_input input,
.radio {
  width: 502px;
  height: 52px;
  border: 1px solid #ff8bc5;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 39px;
}

.gender {
  padding: 15px 10px;
}
.gender input[type="radio"] {
  display: none;
}
.gender input[type="radio"] + label {
  width: 240px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  /* line-height: 24px; */
  text-align: center;
  color: #898989;
}

.gender input[type="radio"]:checked + label {
  background-color: #ff8bc5;
  color: #fff;
}

/* .radio input {
  width: 20px;
} */

.btn button {
  width: 326px;
  height: 60px;
  margin-top: 25px;
  border-radius: 15px;
  border: none;
  background-color: #fc389a;
  color: white;
}

input,
label {
  color: #898989;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
